*{
    margin: 0;
    padding: 0;
    -wibkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* body */

body{
    position: relative;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
   
}
body.switchMode{
    background-color: #405766;
}
body.switchMode .head_inner nav ul li.switch a::after {
    left: 20px;
}

/* head */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
header{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.header_head{
    position: relative;
    background-color: rgb(105, 161, 175);
}
.head_inner{
    display: -wibkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
.head_inner nav ul{
    margin: 0;
    padding: 0;
    display: -wibkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
.head_inner nav ul li{
    list-style-type: none;
}
.head_inner nav ul li a{
    font-size: 14px;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left:100px;
}
.head_inner nav ul li.switch a{
    position: relative;
    width: 45px;
    height: 24px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10em;
    padding: 0;
    margin-top: 5px;
    overflow: hidden;
    
}
nav ul li.switch a:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: rgb(255, 255, 255);
    border-radius: 10em;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
   
    
}
.big{
    display: flex;
}

.div_first {
 position: absolute;
 padding: 150px;
 font-size: 40px;
 display: flex;
 margin-left: 500px;
 margin-top:70px;


}
.div_second{
    position: absolute;
    padding: 150px;
    font-size: 25px;
    display: flex;
    margin-left: 500px;
    margin-top: 170px;
      
}
.photo_one{
    width: 500px;
    height: 500px;
    margin-left: 250px;
    margin-top:100px;
   
}
.one {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin-top: 50px;
}
main {
    
    margin-bottom: 200px;
    width: auto;
    height: 200px;
}
.into {
    margin-left: auto;
    margin-right: auto;
align-items: center;
padding: 20px;
border-radius: 20px;
background: #9dc4df49;
width: 1000px;
height: 300px;
font-size: 20px;
}
.h_one{
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
}
.pp1 {
    padding: 10px;
}
.pp2 {
    padding: 10px;
}
.pp3 {
    padding: 10px;
}
